*
# Ignorowanie plików duzych
!A
!B
!C
!D
!D2
!E
!F

# ignorowania plikow malych X
!X*/

# Ignorowanie plików z rozszerzeniem .cpp i .hpp .java
!*.cpp
!*.hpp
!*.java

# Ignorowanie zadan trudnych wymagajacych uzycia  cmake 
!cmakelists.txt
!testyWykonawcze
!ladnyy
!krotkii

# Ignorowanie  obrazów
!*.png

#ignoroowanie inne 
!_Kolokwium
!kolokwium*
!z_informatyka_programowanie2
!src
!MetodyProgramowania
!_Kolokwium

