*
# Ignorowanie plików duzych
!A
!B
!C
!D
!D2
!E

# ignorowania plikow malych X
!X*/

# Ignorowanie plików z rozszerzeniem .cpp i .hpp
!*.cpp
!*.hpp

# Ignorowanie zadan trudnych wymagajacych uzycia  cmake 
!cmakelists.txt
!testyWykonawcze
!ladnyy
!krotkii

# Ignorowanie  obrazów
!*.png